<section class="stocklist-section">
  <div class="container">
    <div class="tab all-in">
      <div class="link-wrap">
        <a data-tab="online" data-num="5" href="/" class="label-s">ONLINE</a>
        <a
          data-tab="offline"
          data-num="<%= sData.length %>"
          href="/"
          class="label-s"
          >OFFLINE</a
        >
      </div>
      <div class="cont-wrap">
        <div data-tab="online" class="tab-cont">
          <div class="s-list-wrap">
            <div class="s-list">
              <p class="label-s">KOLON MALL</p>
              <a
                class="label-s"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.kolonmall.com/LUCKYMARCHE"
                >WWW.KOLONMALL.COM</a
              >
            </div>
            <div class="s-list">
              <p class="label-s">THE CART GOLF</p>
              <a
                class="label-s"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.thecartgolf.com/LUCKYMARCHE/List/501020220627"
                >www.thecartgolf.com</a
              >
            </div>
            <div class="s-list">
              <p class="label-s">MUSINSA</p>
              <a
                class="label-s"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.musinsa.com/brands/luckymarche"
                >WWW.MUSINSA.COM</a
              >
            </div>
            <div class="s-list">
              <p class="label-s">WCONCEPT</p>

              <a
                class="label-s"
                target="_blank"
                rel="noopener noreferrer"
                href="https://display.wconcept.co.kr/brand/107918?sort=1&utm_source=NAVER&utm_medium=SA_PC&utm_content=pbrand&utm_term=%EB%9F%AD%ED%82%A4%EB%A7%88%EB%A5%B4%EC%89%90&utm_campaign=WCONCEPT&Adfrom=SA_naver_pc&n_media=122875&n_query=%EB%9F%AD%ED%82%A4%EB%A7%88%EB%A5%B4%EC%89%90&n_rank=11&n_ad_group=grp-a001-01-000000031411484&n_ad=nad-a001-01-000000258029860&n_keyword_id=nkw-a001-01-000005058378114&n_keyword=%EB%9F%AD%ED%82%A4%EB%A7%88%EB%A5%B4%EC%89%90&n_campaign_type=1&n_ad_group_type=1&NaPm=ct%3Dllakzeko%7Cci%3D0z80000zRHzyOi6-w1kf%7Ctr%3Dsa%7Chk%3Dabda11c1dfa25ca1e8e318a9c6b81e6d8d987f10"
                >WWW.WCONCEPT.CO.KR</a
              >
            </div>
            <div class="s-list">
              <p class="label-s">29cm</p>
              <a
                class="label-s"
                target="_blank"
                rel="noopener noreferrer"
                href="https://shop.29cm.co.kr/brand/15110?sort=latest&utm_source=naver&utm_medium=CPC&utm_campaign=pc_sa&utm_content=pc_sa&utm_term=%EB%9F%AD%ED%82%A4%EB%A7%88%EB%A5%B4%EC%89%90&n_media=122875&n_query=%EB%9F%AD%ED%82%A4%EB%A7%88%EB%A5%B4%EC%89%90&n_rank=12&n_ad_group=grp-a001-01-000000023452557&n_ad=nad-a001-01-000000233765653&n_keyword_id=nkw-a001-01-000004011196802&n_keyword=%EB%9F%AD%ED%82%A4%EB%A7%88%EB%A5%B4%EC%89%90&n_campaign_type=1&n_ad_group_type=1&NaPm=ct%3Dllakznu0%7Cci%3D0zS0000LRHzy371kOfpx%7Ctr%3Dsa%7Chk%3Db328ccd01bdafdaad9aacea8a477221b9bc66c80"
                >www.29cm.co.kr</a
              >
            </div>

            <div class="s-list">
              <p class="label-s">SSF SHOP</p>
              <a
                class="label-s"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.ssfshop.com/LuckyMarche/main?dspCtgryNo=&brandShopNo=BDMA19AGE&brndShopId=RTLKM&leftBrandNM="
                >WWW.SSFSHOP.COM</a
              >
            </div>
          </div>
        </div>
        <div data-tab="offline" class="tab-cont">
          <div class="s-card-wrap">
            <% for(var i = 0; i < sData.length; i++) { %>
            <div class="s-card">
              <div class="map-wrap">
                <p class="label-s"><%= sData[i].title %></p>
                <a
                  class="label-s"
                  href="<%= sData[i].map %>"
                  target="_blank"
                  rel="noopener noreferrer"
                  >MAP</a
                >
              </div>
              <p class="label-s"><%= sData[i].loca %></p>
              <p class="label-s"><%= sData[i].open %></p>
              <a class="label-s" href="tel:<%= sData[i].tel %>"
                ><%= sData[i].tel %></a
              >
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info-wrap all-in">
    <h1 class="i-cate">ONLINE</h1>
    <h1 class="i-num">5</h1>
  </div>
</section>
